body {
    background: #121212;
    font-family: 'Arimo', sans-serif;
}

.movie {
    margin: 0 auto;
    max-width: 1180px;
    padding: 0 15px;
}

.movie__wrapper {
    margin: 90px 75px 45px;
}

.movie__category { 
    margin-bottom: 5px;
}

.movie__category-list {
    color: #F3F6F9;
    font-size: 15px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    width: 183px;
    padding: 10px;
    border-radius: 200px;
    border: 1px solid #6532F8;
    background: #6532F8;
}

.movie__category-year {
    color: #F3F6F9;
    font-size: 15px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    width: 183px;
    padding: 10px;
    border-radius: 200px;
    border: 1px solid #6532F8;
    background: #6532F8;
}

.movie__title {
    margin: 0;
    color: #F3F6F9;
    font-size: 120.416px;
    letter-spacing: -4.817px;
}

.movie__container {
    padding: 60px 70px;
    max-width: 1040px;
    border-radius: 20px;
    background: #232323;
}

.movie__form {
    margin-bottom: 40px;
    display: flex;
    justify-content:space-between;
    gap: 20px;
}

.movie__search {
    display: flex;
    justify-content:space-between;
}

.movie__input {
    color: #F3F6F9;
    background: #232323;
    font-size: 30px;
    letter-spacing: -0.6px;
    border: none;
    border-bottom: 1px solid #F3F6F9;
    outline: none;
}

.movie__input::placeholder {
    color: #F3F6F9;
    opacity: 0.5;
}

.movie__button {
    margin-left: 15px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: none;
    background: #6532F8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
} 

.movie__button:hover {
    transform: rotate(90deg) scale(1.1)
}

.movie__clear-btn {
    padding: 15px;
    float: right;
    color: white;
    background-color: #6532F8;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

.movie__clear-btn:hover {
    background-color: #3A3939;
}

.movie__label {
    margin-bottom: 10px;
    padding: 0 20px;
    width: 96%;
    height: 71px;
    border-radius: 10px;
    background: #3A3939;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.movie__label:active {
    background-color: #555555; 
    color: #f0f0f0;
}

.movie__label-container {
    display: flex;
    align-items: center;
    flex: 1;
}

.movie__label-input {
    display: none;
}

.movie__label-circle {
    display: inline-block;
    width: 15px; 
    height: 15px;
    border-radius: 50%; 
    border: 1px solid #555555; 
    position: relative;
    cursor: pointer;
    transition: border-color 0.3s ease;
    background-color: transparent;
}

.movie__label-input:checked + .movie__label-circle {
    border-color: #F3F6F9;
}

.movie__label-input:checked + .movie__label-circle::after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #6532F8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.movie__label-text {
    margin-left: 20px;
    max-width: 800px;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movie__label-close {
    cursor: pointer;
}

.movie__label.selected {
    opacity: 0.5;
    text-decoration: line-through;
}

.selected {
    margin-bottom: 10px;
    padding: 0 20px;
    /* width: 790px; */
    width: 96%;
    height: 71px;
    border-radius: 10px;
    background: #3A3939;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    transition: opacity 0.3s ease;
    opacity: 0.5;
    text-decoration: line-through;
}

.movie__error {
    color: red;
}

.movie__lists {
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

.movie__lists::-webkit-scrollbar {
    width: 10px;
}

.movie__lists::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid #fff;
}

.movie__lists::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.movie__lists::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}